@model Tarefas.Web.Models.TarefaViewModel

<form asp-action="Create">
    @Html.DisplayNameFor(model => model.Titulo)
    <input asp-for="Titulo">
    <br/>
    @Html.DisplayNameFor(model => model.Descricao)
    <input asp-for="Descricao">

    <input type="submit">
</form>